<div class='card'>
  <div class='card-header'>
    {{pageTitle}}
  </div>
  <div class='card-body'>
    <div *ngIf='products.length<0' class='row'>
      <div class='col-md-2'>Filter by:</div>
      <div class='col-md-4'>
        <input type='text'
               [(ngModel)]='listFilter' />
      </div>
    </div>
    <div class='row'
         *ngIf="listFilter">
      <div class='col-md-6'>
        <h4>Filtered by: {{listFilter}}</h4>
      </div>
    </div>
    <div class='table-responsive'>
      <table class='table'
             *ngIf='products.length==0'>
        <thead>
          <tr>
            <th>
              <button class='btn btn-primary'
                      (click)='toggleImage()'>
                {{showImage ? 'Hide' : 'Show'}} Image
              </button>
            </th>
            <th>Product</th>
            <th>Code</th>
            <th>Available</th>
            <th>Price</th>
            <th>5 Star Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let product of filteredProducts'>
            <td>
              <img *ngIf='showImage'
                   [src]='product.imageUrl'
                   [title]='product.productName'
                   [style.width.px]='imageWidth'
                   [style.margin.px]='imageMargin'>
            </td>
            <td>
              <a [routerLink]="['/products', product.productId]">
                {{ product.productName }}
              </a>
            </td>
            <td>{{ product.productCode | lowercase | convertToSpaces:'-' }}</td>
            <td>{{ product.releaseDate }}</td>
            <td>{{ product.price | currency:'USD':'symbol':'1.2-2' }}</td>
            <td>
              <pm-star [rating]='product.starRating'
                       (ratingClicked)='onRatingClicked($event)'>
              </pm-star>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf='products.length'>

    </div>
  </div>
  
  <div *ngIf='errorMessage'
     class='alert alert-danger'>
  Error: {{ errorMessage }}
</div>
<hr>
<div class="card-container">
  <div *ngFor="let group of groups" class="card">
    <div class="card-medium-header">
      {{group.groupCode}}

    </div>
    <div class="card-body">
      <div *ngFor="let num of [1,2,3,4]">          
        <div *ngFor="let team of teams">
          <div *ngIf="team.teamGroupID==group.groupID">
              <button *ngIf="num == team.groupPosition" class="button1" (click)="teamSelected(team.teamName, group.groupName)" value="{{team.teamName}}">
                
                {{team.teamName}}
                
                
              </button>
          </div>
        </div>                
      </div>
    </div>
  </div>
</div>

</div>
<div class="card">
  <div class="card-header">
    Action 1: Select group winners
  </div>
  <div class="card-body">
    <button class="btn btn-success"> Select Group Winners</button>
    Click the green button then select the group winners.
  </div>

</div>
<div class="card">
  <div class="card-header">
    Action 2: Select group runners up
  </div>
  <div class="card-body">
    <button class="btn btn-warning"> Select Group Runners Up</button>
    Click the yellow button then select the group runners up.
  </div>

</div>
<div class="card">
  <div class="card-header">
    Round of 16
  </div>
  <div class="card-body">
    <table>
      <tr>
        <td>
          <div class="card">
            <span>Match #49</span> 
            <div>
              <button>
                <input type="text" placeholder="Winner A - A1" name="A1" disabled [(ngModel)]="A1">
              </button><br>
              <button>
                <input type="text" name="B2" placeholder="RunnerUp B - B2" disabled [(ngModel)]="B2">
              </button> 
            </div>
          </div>
        </td>
        <td>
          <div class="card">
            <span>Match #53</span> 
            <div>
              <button>
                <input type="text" placeholder="Winner B - B1" name="B1" disabled [(ngModel)]="B1">
              </button><br>
              <button>
                <input type="text" name="A2" placeholder="RunnerUp A - A2" disabled [(ngModel)]="A2">
              </button> 
            </div>
          </div>

        </td>
      </tr>


      <tr>
        <td>
          <div class="card">
            <span>Match #50</span> 
            <div>
              <button>
                <input type="text" placeholder="Winner C - C1" name="C1" disabled [(ngModel)]="C1">
              </button><br>
              <button>
                <input type="text" name="D2" placeholder="RunnerUp D - D2" disabled [(ngModel)]="D2">
              </button> 
            </div>
          </div>

        </td>
        <td>     
          <div class="card">
            <span>Match #54</span> 
            <div>
              <button>
                <input type="text" placeholder="Winner D - D1" name="D1" disabled [(ngModel)]="D1">
              </button><br>
              <button>
                <input type="text" name="C2" placeholder="RunnerUp C - C2" disabled [(ngModel)]="C2">
              </button> 
            </div>
          </div>
        </td>
      </tr>


      <tr>
        <td>
          <div class="card">
            <span>Match #51</span> 
            <div>
              <button>
                <input type="text" placeholder="Winner E - E1" name="E1" disabled [(ngModel)]="E1">
              </button><br>
              <button>
                <input type="text" name="F2" placeholder="RunnerUp F - F2" disabled [(ngModel)]="F2">
              </button> 
            </div>
          </div>

        </td>
        <td>
          <div class="card">
            <span>Match #55</span> 
            <div>
              <button>
                <input type="text" placeholder="Winner F - F1" name="F1" disabled [(ngModel)]="F1">
              </button><br>
              <button>
                <input type="text" name="E2" placeholder="RunnerUp E - E2" disabled [(ngModel)]="E2">
              </button> 
            </div>
          </div>          
        </td>
      </tr>


      <tr>
        <td>
          <div class="card">
            <span>Match #52</span> 
            <div>
              <button>
                <input type="text" placeholder="Winner G - G1" name="G1" disabled [(ngModel)]="G1">
              </button><br>
              <button>
                <input type="text" name="H2" placeholder="RunnerUp H - H2" disabled [(ngModel)]="H2">
              </button> 
            </div>
          </div>
        </td>
        <td>
          <div class="card">
            <span>Match #56</span> 
            <div>
              <button>
                <input type="text" placeholder="Winner H - H1" name="H1" disabled [(ngModel)]="H1">
              </button><br>
              <button>
                <input type="text" name="G2" placeholder="RunnerUp G - G2" disabled [(ngModel)]="F2">
              </button> 
            </div>
          </div>          
        </td>
      </tr>
    </table>



  </div>

</div>